@-moz-document regexp("(?=.*?\\/(automate|dashboard-pod)).*") {
.CwDataGrid-row .CwDataGrid-disabled svg, 
.CwDataGrid-row .CwDataGrid-cellImage:not(.CwDataGrid-success):not(.CwDataGrid-failed) svg,
.Header-flagIcon:not(.MasterFlag-disabled) svg,
.PatchingTile-flagIcon svg, 
.ScriptsTile-icon svg, 
.tiles-flagsContainer svg, 
.RequiresApprovalTile-flagsContainer svg,
.ServicesTile-iconCell svg,
.CommandsTile-icon svg,
.MonitorsTile-icon svg {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

.maxTileCommands-resultPaneBody label {
    white-space: pre-wrap;
}
}
